{% extends "layout.html" %}
{% block title %} Kevin Topel{% endblock title %}
{% block content %}

    <div class="row">
        <div class="col">
            <h3>Welcome!</h3>
            <span class="main-text">
            <p>
            I am a Developer from Milwaukee, WI currently working as a Research Assistant in both
            the Affective Neuroscience and Anxiety Disorder Labs at the University of Wisconsin-Milwaukee.
            I also work at a free primary care clinic for uninsured adults, which has motivated me to research and develop
            ways to leverage data for the improvement of patient care and outcomes as well as helping clinicians better
            understand their patient population.
            </p>
            <p>
            My primary research interests lie in using the methods Machine Learning to understand the human mind and behavior as well as
            exploring ways to make academic research and data accessible using interactive web applications.
            </p>
            <p>
            Outside of my vocational and academic pursuits, I'm a multi-instrumentalist musician who loves performing,
            writing original music, and multitrack recording. I also have a blog,
            <a class="text-white" href="https://www.platopes.com"> Platopes</a>, where I like to develop my thinking on various topics
            and further refine my writing chops.
            </p>
            <p>Feel free to contact me if you like what you see on my site. I'm currently open to freelance projects.</p>
            </span>
        </div>
    </div>

{% endblock content %}